html{
  font-size: 18px;
  line-height: 1.4;
}
/*Header*/
header{
  background-image: url("../main-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height:30rem;
  padding-top: 1rem;
}
.top{
  max-width: 960px;
  background-color: cadetblue;
  font-size: 1rem;
  color: white;
  font-family: Helvetica;
  margin: auto;
}
.top .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem 1rem 2rem;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  height: 1.5rem;
  margin-right: 1rem;
}
.menu nav span{
  padding-right: 2rem;
}
.mobilemenu{
  display: none;
}
.message{
  display:flex;
  justify-content: flex-end;
  margin-top: 10rem;
  margin-right: 2rem;
}
.banner{
  padding:1.5rem 5rem;
  background-color: white;
}
.banner span{
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}
/*services*/
.service{
  display:flex;
  justify-content: center;
  align-items:flex-start;
  margin-top: 3rem;
}
.exam,.fitting,.delivery{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
  margin-bottom: 3rem;
}
.examtext,.fittingtext,.deliverytext{
  display:block;
  text-align: center;
}
.service img{
  width:3.5rem;
}
.exam,.fitting{
  margin-right: 6rem;
}
/*About*/
.about{
  display:flex;
  justify-content: center;
  margin: auto;
  max-width: 960px;
}
.info{
  display: flex;
  flex-direction: column;
  width:35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}
.info h1{
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  padding:0.5rem 1.25rem;
  background-color: cadetblue;
  width: 10rem;
  margin-bottom: 1rem;
}
/*Footer*/
footer{
  max-width: 960px;
  margin: auto;
  background-color: azure;
}
.bottom .container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding:4rem 0rem 4rem 4rem;
}
.bottom .container img{
  padding-right: 1rem;
  height:1.5rem;
}
/*Tablet version*/
@media only screen and (max-width:1024px){
  header{
    padding-top:0rem;
    height:22rem;
/*    width:100%;*/
  }
  html{
    width:100%;
  }
  .message{
    margin-top: 5rem;
    margin-right: 2rem;
  }
  .banner{
    padding:0.75rem 4rem;
  }
  .banner span{
    font-size: 1.33rem;
  }
}
@media only screen and (max-width:470px){
  header{
    height: 17rem;
    background-position: 20%;
  }
  .menu,.logo span{
    display: none;
  }
  .mobilemenu {
    display:block;
  }
  .mobilemenu nav span{
    padding-right: 2rem;
  }
  .message{
    margin-top:9rem;
    margin-right:0rem;
  }
  .message{
    padding:1rem 0rem 1rem 0rem;
    text-align: center;
    display: block;
  }
  .banner span{
    font-size: 1rem;
  }
  .service{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
  }
  .exam,.fitting,.delivery{
    margin-right: 0rem;
    /*margin-bottom: 1.54rem;*/
  }
  .exam{
    margin-top: 3.77rem;
  }
  .exam,.fitting,.delivery{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0rem;
  }
  .examtext,.fittingtext,.deliverytext{
    font-family: Helvetica;
    font-size:0.77rem;
  }
  .examtext,.fittingtext{
    padding-bottom: 1.54rem;
  }
  .deliverytext{
    margin-bottom: 3.77rem;
  }
  .fitting{
    height:6rem;
  }
  .about{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 4rem;
  }
  .info h1{
    width:100%;
    text-align: center;
  }
  .info p{
    font-family: Helvetica;
    font-size: 0.77rem;
    padding-left: 1rem;
  }
  footer span{
    display: none;
  }
  .bottom .container{
    display: block;
    text-align: center;
  }

}
